/*
font-family: 'ABeeZee', sans-serif;
font-family: 'Sigmar One', cursive;
*/

* {
  font-family: 'ABeeZee', sans-serif;
  letter-spacing: 0.1rem;
}

body {
  padding: 60px;
  background-color: black;
  color: #fff;
}

input {
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.page-title{
  font-family: 'Sigmar One', cursive;
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.card {
  display: flex;
  flex-direction: column;

  align-content: center;

  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
}

.card p {
  padding: 5px;
  text-align: center;
}

.card .card-image {
  max-height: 170px;
}

.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
